@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: violet;
	color: #000000;
	font-family:'Merriweather', serif;
	font-size: 20px;
}
header {
	background-color: #8cc63e;
	border: 1em black solid;
	padding: .5em;
}
a {
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
nav {
	background-color: #0b9444;
}
section {
	background-color: #8cc63e;
	color: #000000;
	padding: 1em;
}
h1 {
	font-family: 'Poiret One', sans-serif;
	font-size: 3.5em;
	font-weight: 700;
	text-align: center;
}
h2 {
	font-family: 'Poiret One', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	text-align: left;
	padding-bottom: 10px;
}
img {
	width: 100%;
}
ul, li {
	color: rgb(0,0,0);
}
footer {
	background-color: #8cc63e;
	clear: both;
}
.column1of3 {
	float: left;
	width: 30%;
	margin: 1em;
	margin-left: 6em;
	padding: 2em;
	background-color: #FFB7CF;
	border: 1px black solid;
}
.column2of3 {
	float: left;
	width: 30%;
	margin: 1em;
	margin-left: 4em;
	padding: 2em;
	background-color: #E582A2;
	border: 1px black solid;
}
.column3of3 {
	float: left;
	width: 30%;
	margin: 1em;
	margin-right: 6em;
	padding: 2em;
	background-color: #E55B88;
	border: 1px black solid;
}
.column1of3, .column2of3, .column3of3 {
}
#hero {
	background-image: url("../images/blurrycrowd.jpg");
	background-position: top;
	background-size: cover;
	height: 400px;
}
#slogan {
	font-style: italic;
	font-size: 36px;
	text-align: center;
	padding: 10%;
}
#contact {
	text-align: center;
}
.clearfix:after{
	display: block;
	clear: both;
	content:"";
	visibility: hidden;
	font-size: 0;
	font-height: 0;
}