@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #0f75bc;
	color: #000000;
	font-family:'Merriweather', serif;
	font-size: 20px;
}
header {
	background-color: #fff;
	border: 1em black solid;
	padding: .5em;
}
a {
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
nav {
	background-color: #fff;
	float: right;
	margin: auto;
	padding-top: 2.5%;
	color: black;
}
section {
	background-color: #fff;
	color: #000000;
	padding: 1em;
	border: 1px black solid;
}
.about {
	border: 1px black solid;
	margin-right: 10%;
	margin-left: 10%;
}
h1 {
	font-family: 'Poiret One', sans-serif;
	font-size: 3.5em;
	font-weight: 700;
	text-align: center;
}
h2 {
	font-family: 'Poiret One', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	text-align: left;
	padding-bottom: 10px;
}
img {
	width: 100%;
}
ul, li {
	color: rgb(0,0,0);
}
footer {
	background-color: #8cc63e;
	clear: both;
	padding: 5%;
}
.column1of3 {
	float: left;
	width: 28%;
	padding: 2%;
	background-color: #39b54a;
	border: 1px black solid;
	margin-right: 4%;
	margin-left: 4%;
}
.column2of3 {
	float: left;
	width: 28%;
	padding: 2%;
	background-color: #39b54a;
	border: 1px black solid;
	margin-right: 4%;
	padding-bottom: 5%;
}
.column3of3 {
	float: left;
	width: 28%;
	padding: 2%;
	background-color: #39b54a;
	border: 1px black solid;
}
#three_column {
	background-color: #fff;
	border: 1px black solid;
	padding: 2em;
	margin: 1em;
}
#hero {
	background-image: url("../images/blurrycrowd.jpg");
	background-position: top;
	background-size: cover;
	height: 35%;
}
#slogan {
	font-style: italic;
	font-size: 1.5em;
	text-align: center;
	padding: 10%;
}
#contact {
	text-align: center;
}
#logo {
	width: 25%;
}
.clearfix:after {
	display: block;
	clear: both;
	content:"";
	visibility: hidden;
	font-size: 0;
	font-height: 0;
}
@media only screen and (max-width: 1250px) {
	.column1of3, .column2of3, .column3of3 {
		float: none;
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}
	#menu {
		display: none;
	}
}
@media only screen and (max-width: 720px) {
	#slogan {
		display: none;
	}
	h1 {
		font-size: 2em;
	}
	#mobile {
		text-align: center;
		padding-bottom: 1em;
		display: block;
		margin: auto;
	}
	nav a {
		width: auto;
		float: none;
		border-bottom: 1px solid #666;
		display: none;
	}
	#logo {
		display: none;
	}
	header {
		padding-bottom: 1.5em;
	}
	#menu {
		text-align: center;
		display: block;
		font-size: 1em;
	}
	nav:hover a {
		display: block;
	}
}
@media only screen and (max-width: 450px) {
	#slogan {
		display: none;
	}
	nav {
		float: none;
	}
	.column1of3, .column2of3, .column3of3 {
		width: 100%;
		margin: auto;
	}
	#mobile {
		text-align: center;
		padding-left: 1em;
		padding-right: 1em;
		display: block;
	}
	nav:hover a {
		display: block;
	}
	#logo {
		display: none;
	}
}
