@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
body {
	background-color: rgb(52,73,94);
	font-family:'Merriweather', serif;
}
h1 {
	color: rgb(238,238,238);
	font-family: 'Poiret One', cursive;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}
img {
	width: 100%;
}
p {
	color: rgb(238,238,238);
	font-size: 20px;
	text-align: justify;
}
ul, li {
	color: rgb(238,238,238);
	font-size: 20px;
}
#slogan {
	color: rgb(238,238,238);
	font-family: Georgia; sans-serif;
	font-style: italic;
	font-size: 24px;
	text-align: center;
}
hr {
	color: rgb(238,238,238);
	padding: 2px;
}
#contact {
	text-align: center;
}
