body {
	font-family: Arial; sans-serif;
	background-color: rgb(52,73,94);
}
h1 {
	color: rgb(238,238,238);
	font-size: 36px;
	text-align: center;
}
p {
	color: rgb(30,130,76);
	text-align: justify;
	font-size: 20px;
}
ul, li {
	color: rgb(30,130,76);
	font-size: 20px;
}
#slogan {
	font-family: Georgia; sans-serif;
	font-style: italic;
	font-size: 24px;
	color: rgb(238,238,238);
	text-align: center;
}
hr {
	padding: 2px;
	color: rgb(238,238,238);
}
#contact {
	text-align: center;
}
img {
	width: 100%;
}